// Fontawesome
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

// Colors
$primary: #2DA7E6;
// $info: $blue;
// $success: $green;
// $warning: $yellow;
// $danger: $red;
// $dark: $grey-darker;
// $text: $grey-dark;

// Typography
$family-monospace: "Inconsolata", "Consolas", "Monaco", monospace;
@import url('https://fonts.googleapis.com/css?family=Comfortaa:700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');

// Breakpoints
$tablet: 769px;
$desktop: 1000px;
$widescreen: 1192px;
